body
{
	background-color: rgb(250,250,250);
}
#guide_bar
{
	width: auto;
	height: 77px;
	border-bottom: solid 1px rgb(219,219,219);
	margin-top: 0px;
	background-color: white;
}
#logo
{
	width: 230px;
	position: relative;
	top: -9px;
	padding-left: 80px;
}
#guide_bar p
{
	font-size: 10px;
	position: relative;
	top: -56px;
	right: -147px;
	color: grey;
}
#buttonbar
{
	width: 140px;
	float: right;
	position: relative;
	top: -116px;
	padding-right: 160px;
}
#info_bar
{
	margin-top: 60px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	height: 150px;
	
}
#info_bar img
{
	width: 148px;
	padding-left: 133px;
}
#title
{
	height: 135px;
	width: 300px;
	position: relative;
	top: -155px;
	left: 350px;
}
#title h2
{
	font-size: 14px;
	position: relative;
	top: 36px;
}
#follow2
{
	width: 80px;
	position: relative;
	top: -296px;
	left: 485px;
	
}
#title p
{
	font-size: 18px;
	position: relative;
	top: -37px;
	color: rgb(37,37,37);
}
#title span
{
	font-weight: 900px;
	color: rgb(0,53,105);
}
#container
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
	position: relative;
	top: 40px;
}
#outputbox
{

	width: 300px;
	height: 70px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#result
{
	font-size: 35px;
	text-align: right;
	padding-right: 30px;
	padding-bottom: 5px;
	width: 266px;
	height: 62px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: white;
	font-family: courier;
	background-color: rgb(34,35,29);
	border: none;
}
#button
{
	position: relative;
	top: -2px;
	width: 300px;
	height: 250px
}
#button button
{
	width: 75px;
	height: 50px;
	margin-left: 0px;
	margin-right: 0px;
}
#lo
{
	position: relative;
	left: -5px;
}
#b8
{
	position: relative;
	left: -5px;
	top: -1px;
}
#b5
{
	position: relative;
	left: -5px;
	top: -2px;
}
#b2
{
	position: relative;
	left: -5px;
	top: -3px;
}
#b0
{
	position: relative;
	top: -4px;
	border-bottom-left-radius: 6px;
}
#b1
{
	position: relative;
	top: -3px;
}
#ro
{
	position: relative;
	left: -10px;
}
#b7
{
	position: relative;
	top: -1px;
}
#b9
{
	position: relative;
	left: -10px;
	top: -1px;
}
#b6
{
	position: relative;
	left: -10px;
	top: -2px;
}
#b4
{
	position: relative;
	top: -2px;
}
#b3
{
	position: relative;
	left: -10px;
	top: -3px;
}
#divide
{
	position: relative;
	left: 64px;
	top: -200px;
}
#multiply
{
	position: relative;
	left: 222px;
	top: -201px;
}
#subtract
{
	position: relative;
	left: 143px;
	top: -152px;
}
#plus
{
	position: relative;
	left: 64px;
	top: -103px;
}
#equal
{
	position: relative;
	left: 222px;
	top: -104px;
	border-bottom-right-radius: 6px;
}
#bdot
{
	position: relative;
	left: -5px;
	top: -4px;
}
#ac
{
	position: relative;
	top: -104px;
	left: 69px;
	background-color: rgb(240,107,56);
}
.operator
{
	background-color: rgb(56,151,240);
	border: rgb(76,76,76) solid .2px;
	color: white;
	font-size: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Times New Roman;
}
.number
{
	font-family: Times New Roman;
	font-size: 30px;
	background-color: white;
	border: rgb(76,76,76) solid .2px;
}
.other
{
	font-family: Times New Roman;
	font-size: 30px;
	background-color: rgb(240,192,56);
	border: rgb(76,76,76) solid .2px;
}
#copy
{
	font-size: 10px;
	color: grey;
	text-align: right;
	margin-right: 100px;
	position: relative;
	top: 120px;
	margin-bottom: 40px;
}
button:focus
{
	outline: none;
}
.other:active
{
	background-color: rgb(240,155,15);
}
.number:active
{
	background-color: rgb(179,179,179);
}
.operator:active
{
	background-color: rgb(12,87,157);
}
#ac:active
{
	background-color: rgb(180,60,14);
}
#more
{
	width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: solid 2.5px;
    border-color: rgb(56,151,240);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 70px;
}
#more p
{
	position: relative;
	top: 25px;
	color: rgb(56,151,240)

}